@CHARSET "UTF-8";

.fl {
	float: left;
}

.fr {
	float: right;
}

.search-area{
	width: 100%;
	height: 120px;
	padding:10px;
	background-color: #fff;
	box-shadow:0px 1px 5px #999;
}
.search-area .search-content{
	width: 1024px;
	margin: 0px auto;
	background-color: #fff;
	padding:0px;
}

.search-area .img-area{
	display: block;
	width: 100px;
	height: 100px;
	float: left;
}


.linkarea{
	display: block;
	height: 2em;
	width: 18em;
	margin: 30px 60px;
}

.headerlink{
	font-size: 1.5em;
    color: #898989;
	text-decoration: none;
    outline: none;
}

.vertical-line{
	font-size: 1.5em;
	color: #dcdcdc;
}


.search-box{
	display:block;
	width: 500px;
	height: 40px;
}

.search-box input[type=text]{
	background:url(../images/search-vector.jpg) no-repeat;
	background-size:contain;/*保持图像本身的宽高比例，将图片缩放到宽度或高度正好适应定义背景的区域*/
	border:2px solid #fff;
    font-size: 1.5em;
    padding-left:2.5em;
    width:400px;
    height: 40px;
    border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.search-box input[type=button]{
	border:2px solid #fff;
    font-size: 1.5em;
    width:100px;
    height: 40px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #5cb85c;
}

.search-box-bordered{
	display:block;
	width: 500px;
	height: 40px;
	margin: 30px 20px;
}

.search-box-bordered input[type=text]{
	background:url(../images/search-vector.jpg) no-repeat;
	background-size:contain;/*保持图像本身的宽高比例，将图片缩放到宽度或高度正好适应定义背景的区域*/
	border:2px solid #27AE60;
	border-right-width:0px;
    font-size: 1.5em;
    padding-left:2.5em;
    width:400px;
    height: 40px;
    border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.search-box-bordered input[type=button]{
	border:2px solid #27AE60;
	border-left-width:0px;
    font-size: 1.5em;
    width:100px;
    height: 40px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #5cb85c;
}