@CHARSET "UTF-8";

body{
	background: url(http://xs01.meituan.net/waimai_web/img/map/bg.jpg) no-repeat #F4F4F4;
	overflow: hidden;
	背景图垂直、水平均居中
	background-position: center center;
	
	背景图不平铺
	background-repeat: no-repeat;
	
	当内容高度大于图片高度时，背景图像的位置相对于viewport固定
	background-attachment: fixed;
	
	让背景图基于容器大小伸缩
	background-size: cover; 
	width: 100%;
	height: 100%;  
}

.guider {
	background: url(http://xs01.meituan.net/waimai_web/img/map/guider.png) no-repeat;
	display: block;
	width: 770px;
	height: 180px;
	margin: 0 auto;
}

.cross{
	position:relative;
	display:block;
	background: url(http://xs01.meituan.net/waimai_web/img/map/cross.png) no-repeat;
	width: 15px;
	height:15px;
	left: 760px;
	top: 30px;
}

.guider .choosecity{
	background: url(http://xs01.meituan.net/waimai_web/img/map/icon.png) no-repeat -33px -35px;
	width: 39px;
    height: 35px;
    position: relative;
    top: 62px;
    left: 44px;
}

.guider .choose-poi{
	background: url(http://xs01.meituan.net/waimai_web/img/map/icon.png) no-repeat;
	width: 26px;
	height: 35px;
	position: relative;
	top: 28px;
	left: 185px;
}

.content{
	display: block;
	width: 1000px;
	margin: 0 auto;
}

.steps{
	position:relative;
	left:0px;
	top:50px;
}

.s-1{
	margin-left: 40px;
	color: #fff;
}
.s-2{
	margin-left: 70px;
	color: #fff;
}
.s-3{
	margin-left: 70px;
	color: #fff;
}
.s-4{
	margin-left: 70px;
	color: #fff;
}
.s-5{
	margin-left: 70px;
	color: #fff;
}

.map-min{
	width: 100%;
	height: 500px;
	display: none;
}

.map{
	width: 100%;
	height: 500px;
	display: block;
}

#r-result{
	width: 100%;
	margin: 100px;
	margin-top:40px;
	margin-bottom: 50px;
}

#r-result input[type="text"]{
	margin-left: 20px;
	font-size:1.5em;
	padding: 5px;
	width: 600px;
	height: 50px;
}

#r-result input[type="button"]{
	font-size:1.5em;
	width: 100px;
	height: 50px;
	background-color: #5cb85c;
}

.auto-get{
	color: #777;
	border-radius:10px;
	font-size:1.5em;
	width: 100px;
	height: 80px;
	background-color: #5cb85c;
}