@CHARSET "UTF-8";

* {
  padding:0;
  margin:0;
}

*{
	font-family: Microsoft YaHei,SimHei,"Times New Roman", Times, serif;
	line-height: 1.5em;
}

body{
	  background-color: #fff;
}

.headerbar{
	background-color:#27AE60;
	/*margin-bottom:100px;*/
}
.headerbar .img_header{
	margin-left:250px;
	height:50px;
}

.space{
	width: 0px;
}

.color_red{
	color: red;	
}

.content{
	margin-top: 100px;
	margin-bottom: 100px;
	width:1024px;
	padding: 10px;
}

.shadowed{
	border:1px solid #d5d5d5;
	box-shadow:0px 1px 11px #999;
	border-radius: 5px;
}

.footerbar{
	position:fixed; bottom:0; left:0; width:100%;
}

.footercontent{
	display:block;
	text-align: center;
}

.footercontent a{
	color: #fff;
}

ul,li {
	list-style-type: none;
	display: block;
	padding:0;
	margin:0;
}