@CHARSET "UTF-8";

label{
	font-size: 1.3em;
	color: #555;
}

.alert{
	padding:8px;
	margin-button:5px;
}

.space{
	margin:10px;
}

#l-map{
	width:82%;
	margin-left:9%;
	height: 400px;
	
}

.locationbar{
	margin:10px 72px;
}