@CHARSET "UTF-8";

body{
	background-color: #f5f5f5;
}

hr{
	margin: 10px;
}

#searchbar{
	position:fixed;
	top:0px;
	height: 50px;
	background-color:#5cb85c;
}


.content{
	width: 1024px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 20px;
	padding:0px;
}

.left-part{
	display:block;
	float: left;
	width: 130px;
	height: 50px
}

.right-part{
	display:block;
	float: right;
	height: 50px;
	width: 800px;
}

.restaurant-type,.discount-filter{
	color: #5f5f5f;
	padding: 15px;
}

.type-title,.discount-title {
	margin-left: 30px;
}

.rest-type,.discount-type{
	display::block;
	margin: 0px 10px;
	margin-bottom:10px;
	float: left;
	text-align:center;
}	

.rest-type a,.discount-type a{
	color: #898989;
}

.divider{
	height: 20px;
	background-color: #f5f5f5;
}

.sort-filter {
	padding: 15px;
	border-bottom: 1px solid #eee;
}

.sort{
	display:block;
	border-right: 1px #c5c5c5 solid;
	width:100px;
	height: 30px;
	float: left;
	margin: 0px auto;
	padding: 5px;
	text-align:center;
}

.sort a{
	color:#555;
	text-decoration: none;
}

.shop-list{
	padding:10px;
}

ul,li {
	list-style-type: none;
	display: block;
	padding:0;
	margin:0;
}

.shop-list img{
	display:block;
	margin:0 auto;
	max-width:250;
	max-height:250;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.center {
	margin: 0 auto;
}

.restaurant {
	text-decoration: none;
}

.restaurant a {
	color: #898989;
}

.restaurant:hover .outer {
	background-color: #f5f5f5;
}

.restaurant:hover a {
	text-decoration: none;
}

.shop-content{
	border-bottom: 1px solid #eee;
}

.shop-content div {
	padding: 3px 0px 3px 0px;
	margin:0px auto;
}

.outer {
	display: block;
	padding: 20px;
	height: 320px;
	width: 250px;
	border-bottom: 1px solid #eee;
}

.outer div{
	margin-bottom: 2px;
}

.shop-preview{
	display:block;
	border: 1px solid #eee;
	height:160px;
	width:210px;
}

.shopname{
	color:#222;
	font-size:1.5em;
}
